@keyframes link-color{
    0% {color: #ffffff;}
    60% {color: #000000;}
    100% {color: #ffffff;}
}
body {
    font-family: 'Merriweathwr', serif;
    font-size: 1em;
    background-color: #000000;
}
#upper-third {
    padding-top: 40px;
    padding-bottom: 100px;
    width:100%;
    text-align:center;
}
#upper-third img{
    width: 36%;
    display:block;
    margin-right:auto;
    margin-left:auto;
    padding-bottom:10px;
}
.artist-link {
    display:table;
    margin-top: 20px; 
    margin-bottom: 20px;
    margin-right:auto;
    margin-left:auto;
}
 a:link, a:visited {
    color: #ffffff;    
    text-decoration: none;
}
a:hover.artist-link, a:active.artist-link{
    color:#e1e1e1;
    text-decoration: none;
    animation-name: link-color;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
footer{
    color: #969696;
    font-size: .9em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}
@media only screen and (min-width: 768px) {
   /* For desktop */
    #upper-third{
        font-size: 1.3em;
        padding-bottom: 200px;
        padding-top: 80px;
    }

    #upper-third img{
        width: 23%;
        padding-bottom: 30px;
    }
}
